<!-- Displays the layout for admin_panel_bookings -->
<div class="row">
  <div class="col-md-3">
	<ul class="sidebar-list">
	  <li class="sidebar-item"><%= link_to "Admin Panel Overview", admin_panel_path, class: "sidebar-link" %></li>
	  <li class="sidebar-item"><%= link_to "All Users", admin_panel_users_path, class: "sidebar-link" %></li>
	  <li class="sidebar-item"><%= link_to "All Reservations", admin_panel_bookings_path, class: "sidebar-link active" %></li>
	  <li class="sidebar-item"><%= link_to "Search For Users", search_for_users_path, class: "sidebar-link" %></li>
	  <li class="sidebar-item"><%= link_to "Search for Reservations", search_for_bookings_path, class: "sidebar-link" %></li>
	  <li class="sidebar-item"><%= link_to "Problem Tickets",  problem_tickets_path, class: "sidebar-link" %></li>
	</ul>
  </div>
  <div class="col-md-9">
	<div class="panel panel-default">
	  <div class="panel-heading">
		All Reservations
	  </div>
	  <div class="panel-body">
		<!-- Create a form For each reservation   -->
		<% @reservations.each do |reservation| %>
		  <div class="row">
			<div class="col-md-2">
			  <!-- Display Reservation total -->
			  <h4>Total: $<%= reservation.total %></h4>
			</div>
			<div class="col-md-7">
			  <!-- Display reservation start date -->
			  <h4>Start Date: <%= reservation.start_date %></h4>
			  <!-- Display reservation end date -->
			  <h4>End Date: <%= reservation.end_date %></h4>
			  <!-- Display reservation user id -->
			  <h4>Reserver ID: <%= reservation.user_id %> </h4>
			  <!-- Display reservation id -->
			  <h4>Reservation ID: <%= reservation.id %></h4>
			</div>
			<div class="row-space-2"> 
			  <h4>Created: <%= reservation.created_at %></h4>  
			  <h4>Updated: <%= reservation.updated_at %></h4>
			</div>
			<div class="row-space-2">
				  <%= button_to "Delete", room_path(reservation), method: :delete, data: { confirm: "Are you Sure?"}, class: 'btn btn-primary' %>					
			</div>
		  </div>
		  <hr>
		<% end %>

	  </div>
	</div>
  </div>
</div>